attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==5.2.0
checks==0.2
ConfigParser==7.2.0
cryptography==46.0.3
customtkinter==5.2.2
Cython==3.2.4
docutils==0.22.4
filelock==3.20.3
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.150.2
ipython==9.9.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
mtrand==0.1
mypy==1.19.1
protobuf==6.33.4
psutil==7.2.1
PyInstaller==6.18.0
pyodide==0.0.2
pyOpenSSL==25.3.0
pytest==9.0.2
pytest_run_parallel==0.8.2
PyYAML==6.0.3
redis==7.1.0
scipy_doctest==2.0.1
setuptools==80.9.0
simplejson==3.20.2
Sphinx==9.1.0
thread==2.0.6
threadpoolctl==3.6.0
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
